	</div>
</body>

<footer class="footer">
	<div class="container">
		<p class="text-muted">
			Samuel DRODE, 
			Amandine PALLAS, 
			Julien RIFFARD, 
			Kim SAVAROCHE et
			Louis ORTOLAN
		</p>
	</div>
</footer>
</html>