<!DOCTYPE html>  
<html lang="fr">  
<head>
	<meta charset="UTF-8">
	<title>Interface 2037</title>
	<link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Interface 2037 : Ready for inquiry</h1>
		</div>
		
		<div class="jumbotron">