<h1>libelle : <%= label %></h1>
<form action=<%= '/expert/questions/'+id %> method='POST'>
	<input type='text' name='answer' autocomplete='off' placeholder='Entrer la réponse' required>
	<input type="hidden" name="_method" value="put">
	<input type='submit' value='Valider'>
</form>