<% include ../partials/header.ejs %>

<form class="form-horizontal" action=<%= '/expert/questions/'+id %> method='post'>
	<input type="hidden" name="_method" value="put">
	<input type="hidden" name="answer" value="Désolé, nous ne connaissons pas la réponse.">

	<div class="form-group">
		<div class="col-sm-offset-10 col-sm-2">
			<button type="submit" class="btn btn-lg btn-block btn-warning">Je passe</button>
		</div>
	</div>
</form>

<form class="form-horizontal" action=<%= '/expert/questions/'+id %> method='post'>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">
			Libelle
		</label>
		<div class="col-sm-10">
			<b><%= label %></b>
		</div>
	</div>
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">
			Réponse
		</label>
		<div class="col-sm-10">
			<input 
				type='text' 
				name='answer'
				class="form-control"
				autocomplete='off' 
				placeholder='Entrer la réponse' required
			>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="hidden" name="_method" value="put">
			<button type="submit" class="btn btn-lg btn-default btn-block">Valider</button>
		</div>
	</div>
</form>

<% include ../partials/footer.ejs %>
