	</div>
</body>

<footer class="footer">
	<div class="container">
		<p class="text-muted">
			Samuel DRODE, 
			Louis ORTOLAN
			Amandine PALLAS, 
			Julien RIFFARD et
			Kim SAVAROCHE
		</p>
	</div>
</footer>
</html>